In [22]:
import numpy as np
import pandas as pd

# 多维数组结构

data1 = np.array([[1,2,3,4],[1,2,3,4],[1,2,3,4]])
# data1.shape

names = np.array(["Bob", "Joe", "Will", "Bob","Will","Joe", "Bob"])
data  = np.random.randn(4,4)
names
data
# data[names=="Bob"]

array([[-0.56668335,  0.58735173,  0.51343099,  0.84410369],
       [ 0.13755929,  0.63901983,  0.49333367,  0.44619987],
       [ 1.89634262,  1.10139874,  0.09062245, -0.37251984],
       [ 0.35927189,  1.28882564, -0.9104122 , -0.81523967]])

In [25]:
t = pd.DataFrame(data, index=['Ohia','Calorado','Utah','NewYork'], columns=['one','two','three','four'])

In [39]:
t.iloc[:,:3][t.three>0]
t.index
t.loc['Utah','one']
t['four']

Ohia        0.844104
Calorado    0.446200
Utah       -0.372520
NewYork    -0.815240
Name: four, dtype: float64

In [47]:
arr = np.arange(12).reshape(3,4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [56]:
frame = pd.DataFrame(np.random.randn(4,3), columns=list('abc'),
                    index=['Utah','Ohio','Texas','Oregon'])
def f(x):
    return pd.Series([x.min(), x.max(), x.max()-x.min()], index=['min','max','level'])

frame.apply(f)

              a         b         c
min   -0.945474 -0.485353 -1.462214
max    0.513753  1.285505  1.762542
level  1.459227  1.770858  3.224756

In [57]:
frame

               a         b         c
Utah   -0.698630  0.198595 -1.462214
Ohio    0.513753  0.537964  1.762542
Texas   0.431740  1.285505  0.026764
Oregon -0.945474 -0.485353 -1.001216